@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Libre+Baskerville:ital@1&family=Poppins:wght@400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #F0F2F5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
    margin: 0;
}